<nav class="navbar">
    <div class="nav-left">
        <span class="logo">Trash Heatmap</span>
    </div>

    <div class="nav-links">
        <a href="/admin.html">Users</a>
        <!--<a href="/admin.html#logs">Admin → Logs</a> -->
        <a href="/bin_editor.html">Bin Editor</a>
        <a href="/dashboard.html">Dashboard</a>
        <a href="/qr_labels.html">QR Labels</a>
        <a href="/bin_times.html">Graphs</a>
    </div>

    <div class="nav-right">
        <button onclick="logout()">Logout</button>
    </div>
</nav>